In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 

import seaborn as sns

In [2]:
%matplotlib inline

In [48]:
from scipy.stats import mode

In [150]:
big = pd.read_csv("train.csv",index_col=None)
big1 = pd.read_csv("train.csv",index_col=None)

In [4]:
big1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
Item_Identifier              8523 non-null object
Item_Weight                  7060 non-null float64
Item_Fat_Content             8523 non-null object
Item_Visibility              8523 non-null float64
Item_Type                    8523 non-null object
Item_MRP                     8523 non-null float64
Outlet_Identifier            8523 non-null object
Outlet_Establishment_Year    8523 non-null int64
Outlet_Size                  6113 non-null object
Outlet_Location_Type         8523 non-null object
Outlet_Type                  8523 non-null object
Item_Outlet_Sales            8523 non-null float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.1+ KB

In [151]:
def fatContent(fat_content):
    if fat_content in ('Low Fat','LF','low fat'):
        return 0
    else:
        return 1

In [152]:
big['Item_Fat_Content'] = big['Item_Fat_Content'].apply(fatContent)

In [24]:
#big.head()

In [153]:
big = pd.get_dummies(big,columns=['Outlet_Identifier'])

In [9]:
#big = pd.get_dummies(big,drop_first=True,columns=['Item_Type'])

In [154]:
big = pd.get_dummies(big,columns=['Outlet_Location_Type'])

In [27]:
miss_bool = big['Item_Weight'].isna()

In [155]:
item_avg_weight  = big.pivot_table(values='Item_Weight', index='Item_Identifier')

In [156]:
#big[big['Item_Identifier'] == 'FDQ60']

In [157]:
big.drop([927,1922,4187,5022],inplace=True)

In [158]:
#big.loc[miss_bool,'Item_Weight']

In [159]:
#big['Outlet_Size'].astype(int)

In [160]:
def outSize(size):
    if size == 'Small':
        return int(0)
    else:
        if size == "Medium":
            return int(1)
        else:
            if size == "High":
                return int(2)

In [161]:
big['Outlet_Size'] = big['Outlet_Size'].apply(outSize)

In [162]:
big.loc[miss_bool,'Item_Weight'] = big.loc[miss_bool,'Item_Identifier'].apply(lambda x : item_avg_weight.loc[x])

In [163]:
big['Item_Weight'].isna().value_counts()

False    8519
Name: Item_Weight, dtype: int64

In [286]:
#big = pd.get_dummies(big,drop_first=True,columns=['Outlet_Type'])

In [107]:
miss_bool_groc = big[big['Outlet_Type'] == 'Grocery Store']['Outlet_Size'].isna()
temp_groc = big[big['Outlet_Type'] == 'Grocery Store']['Outlet_Size']
miss_bool_sp1 = big[big['Outlet_Type'] == 'Supermarket Type1']['Outlet_Size'].isna()
miss_bool_sp2 = big[big['Outlet_Type'] == 'Supermarket Type2']['Outlet_Size'].isna()
miss_bool_sp3 = big[big['Outlet_Type'] == 'Supermarket Type3']['Outlet_Size'].isna()

In [108]:
miss_bool_groc.value_counts()

True     555
False    527
Name: Outlet_Size, dtype: int64

In [128]:
#len(miss_bool_groc)
    #print ('True')
#len(temp_groc)
temp_groc.values

array([nan,  0., nan, ..., nan,  0., nan])

In [133]:
temp1 = lambda big : big[big['Outlet_Type'] == 'Grocery Store']['Outlet_Size']

In [134]:
temp1

In [ ]:
lambda df: df['shield'] == 8

In [127]:
miss_bool_groc.values

array([ True, False,  True, ...,  True, False,  True])

In [322]:
#big[['Outlet_Size','Outlet_Type']].isna()

In [34]:
big.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Type,Item_Outlet_Sales,...,Outlet_Identifier_OUT017,Outlet_Identifier_OUT018,Outlet_Identifier_OUT019,Outlet_Identifier_OUT027,Outlet_Identifier_OUT035,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3
0,FDA15,9.300,0,0.016047,Dairy,249.8092,1999,Medium,Supermarket Type1,3735.1380,...,0,0,0,0,0,0,0,1,0,0
1,DRC01,5.920,1,0.019278,Soft Drinks,48.2692,2009,Medium,Supermarket Type2,443.4228,...,0,1,0,0,0,0,0,0,0,1
2,FDN15,17.500,0,0.016760,Meat,141.6180,1999,Medium,Supermarket Type1,2097.2700,...,0,0,0,0,0,0,0,1,0,0
3,FDX07,19.200,1,0.000000,Fruits and Vegetables,182.0950,1998,NaN,Grocery Store,732.3800,...,0,0,0,0,0,0,0,0,0,1
4,NCD19,8.930,0,0.000000,Household,53.8614,1987,High,Supermarket Type1,994.7052,...,0,0,0,0,0,0,0,0,0,1
5,FDP36,10.395,1,0.000000,Baking Goods,51.4008,2009,Medium,Supermarket Type2,556.6088,...,0,1,0,0,0,0,0,0,0,1
6,FDO10,13.650,1,0.012741,Snack Foods,57.6588,1987,High,Supermarket Type1,343.5528,...,0,0,0,0,0,0,0,0,0,1
7,FDP10,19.000,0,0.127470,Snack Foods,107.7622,1985,Medium,Supermarket Type3,4022.7636,...,0,0,0,1,0,0,0,0,0,1
8,FDH17,16.200,1,0.016687,Frozen Foods,96.9726,2002,NaN,Supermarket Type1,1076.5986,...,0,0,0,0,0,1,0,0,1,0
9,FDU28,19.200,1,0.094450,Frozen Foods,187.8214,2007,NaN,Supermarket Type1,4710.5350,...,1,0,0,0,0,0,0,0,1,0

In [352]:
def outSizer(df):  
    if df['Outlet_Size'] == float(nan):
        print(df['Outlet_Size'])
'''    if df['Outlet_Size'] == "nan":
        print("True")
        if df['Outlet_Type'] == 'Grocery Store':
            return 0
        else:
            if (df['Outlet_Type'] == 'Supermarket Type2') | (df['Outlet_Type'] == 'Supermarket Type3'):
                return 1
            else:
                if df['Outlet_Type'] == 'Supermarket Type1':
                    return 2
    else: 
        return df['Outlet_Size']'''

'    if df[\'Outlet_Size\'] == "nan":\n        print("True")\n        if df[\'Outlet_Type\'] == \'Grocery Store\':\n            return 0\n        else:\n            if (df[\'Outlet_Type\'] == \'Supermarket Type2\') | (df[\'Outlet_Type\'] == \'Supermarket Type3\'):\n                return 1\n            else:\n                if df[\'Outlet_Type\'] == \'Supermarket Type1\':\n                    return 2\n    else: \n        return df[\'Outlet_Size\']'

In [349]:
big[['Outlet_Size','Outlet_Type']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 2 columns):
Outlet_Size    6113 non-null object
Outlet_Type    8523 non-null object
dtypes: object(2)
memory usage: 133.2+ KB

In [350]:
#big['Outlet_Size'].astype(int)

In [35]:
#big[['Outlet_Size','Outlet_Type']].apply(outSizer,axis=1)

In [164]:
vis_bool = (big['Item_Visibility'] == 0)

In [165]:
visibility_avg = big.pivot_table(values='Item_Visibility', index='Item_Identifier')

In [166]:
big.loc[vis_bool,'Item_Visibility'] = big.loc[vis_bool,'Item_Identifier'].apply(lambda x : visibility_avg.loc[x])

In [167]:
big['Year_Est'] = 2013 - big['Outlet_Establishment_Year']

In [168]:
big.drop(['Outlet_Establishment_Year'],axis=1,inplace=True)

In [169]:
big.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Size,Outlet_Type,Item_Outlet_Sales,Outlet_Identifier_OUT010,...,Outlet_Identifier_OUT019,Outlet_Identifier_OUT027,Outlet_Identifier_OUT035,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Year_Est
0,FDA15,9.30,0,0.016047,Dairy,249.8092,1.0,Supermarket Type1,3735.1380,0,...,0,0,0,0,0,1,1,0,0,14
1,DRC01,5.92,1,0.019278,Soft Drinks,48.2692,1.0,Supermarket Type2,443.4228,0,...,0,0,0,0,0,0,0,0,1,4
2,FDN15,17.50,0,0.016760,Meat,141.6180,1.0,Supermarket Type1,2097.2700,0,...,0,0,0,0,0,1,1,0,0,14
3,FDX07,19.20,1,0.015274,Fruits and Vegetables,182.0950,NaN,Grocery Store,732.3800,1,...,0,0,0,0,0,0,0,0,1,15
4,NCD19,8.93,0,0.008082,Household,53.8614,2.0,Supermarket Type1,994.7052,0,...,0,0,0,0,0,0,0,0,1,26

In [170]:
big['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1082
Supermarket Type3     932
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [171]:
outlet_size_mode =big.pivot_table(values='Outlet_Size', columns='Outlet_Type',aggfunc=(lambda x:mode(x).mode[0]))

In [172]:
Otype_bool = big['Outlet_Size'].isnull()

In [173]:
big.loc[Otype_bool,'Outlet_Size'] = big.loc[Otype_bool,'Outlet_Type'].apply(lambda x: outlet_size_mode[x])

In [174]:
big['Outlet_Size'].isnull().value_counts()

False    8519
Name: Outlet_Size, dtype: int64

In [175]:
big = pd.get_dummies(big,columns=['Outlet_Type'])

In [176]:
big = pd.get_dummies(big,columns=['Outlet_Size'])

In [177]:
big['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1199
Household                 910
Frozen Foods              855
Dairy                     681
Canned                    649
Baking Goods              647
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [178]:
big['Item_Id'] = big['Item_Identifier'].apply(lambda x : x[0:2])

In [179]:
big['Item_Id'].value_counts()

FD    6121
NC    1599
DR     799
Name: Item_Id, dtype: int64

In [180]:
big = pd.get_dummies(big,columns=['Item_Id'])

In [181]:
big['Item_Type'].isna().value_counts()

False    8519
Name: Item_Type, dtype: int64

In [182]:
big.drop('Item_Type',axis=1,inplace=True)

In [183]:
big.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8519 entries, 0 to 8522
Data columns (total 30 columns):
Item_Identifier                  8519 non-null object
Item_Weight                      8519 non-null float64
Item_Fat_Content                 8519 non-null int64
Item_Visibility                  8519 non-null float64
Item_MRP                         8519 non-null float64
Item_Outlet_Sales                8519 non-null float64
Outlet_Identifier_OUT010         8519 non-null uint8
Outlet_Identifier_OUT013         8519 non-null uint8
Outlet_Identifier_OUT017         8519 non-null uint8
Outlet_Identifier_OUT018         8519 non-null uint8
Outlet_Identifier_OUT019         8519 non-null uint8
Outlet_Identifier_OUT027         8519 non-null uint8
Outlet_Identifier_OUT035         8519 non-null uint8
Outlet_Identifier_OUT045         8519 non-null uint8
Outlet_Identifier_OUT046         8519 non-null uint8
Outlet_Identifier_OUT049         8519 non-null uint8
Outlet_Location_Type_Tier 1      8519 non-null uint8
Outlet_Location_Type_Tier 2      8519 non-null uint8
Outlet_Location_Type_Tier 3      8519 non-null uint8
Year_Est                         8519 non-null int64
Outlet_Type_Grocery Store        8519 non-null uint8
Outlet_Type_Supermarket Type1    8519 non-null uint8
Outlet_Type_Supermarket Type2    8519 non-null uint8
Outlet_Type_Supermarket Type3    8519 non-null uint8
Outlet_Size_0.0                  8519 non-null uint8
Outlet_Size_1.0                  8519 non-null uint8
Outlet_Size_2.0                  8519 non-null uint8
Item_Id_DR                       8519 non-null uint8
Item_Id_FD                       8519 non-null uint8
Item_Id_NC                       8519 non-null uint8
dtypes: float64(4), int64(2), object(1), uint8(23)
memory usage: 1.0+ MB

In [236]:
big.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Item_Outlet_Sales,Outlet_Identifier_OUT010,Outlet_Identifier_OUT013,Outlet_Identifier_OUT017,Outlet_Identifier_OUT018,...,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Outlet_Size_0.0,Outlet_Size_1.0,Outlet_Size_2.0,Item_Id_DR,Item_Id_FD,Item_Id_NC
0,FDA15,9.30,0,0.016047,249.8092,3735.1380,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
1,DRC01,5.92,1,0.019278,48.2692,443.4228,0,0,0,1,...,0,0,1,0,0,1,0,1,0,0
2,FDN15,17.50,0,0.016760,141.6180,2097.2700,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
3,FDX07,19.20,1,0.015274,182.0950,732.3800,1,0,0,0,...,1,0,0,0,1,0,0,0,1,0
4,NCD19,8.93,0,0.008082,53.8614,994.7052,0,1,0,0,...,0,1,0,0,0,0,1,0,0,1

In [237]:
from sklearn.model_selection import cross_val_score , cross_validate
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [266]:
#Define target and ID columns:
target = 'Item_Outlet_Sales'
IDcol = ['Item_Identifier','Outlet_Identifier']

#def modelFit(alg, dtrain, dtest, predictors, target, IDcol, filename):
def modelFit(alg, X_train, X_test, y_train, y_test):
    #Fit the algorithm on the data
    alg.fit(X_train, y_train)
    
    
    scoring = ['precision_macro', 'recall_macro']
        
    #Predict training set:
    train_predictions = alg.predict(X_train)

    #Perform cross-validation:
    #cv_score = cross_val_score(alg, X_train, y_train, cv=20, scoring='mean_squared_error')
    cv_score = cross_val_score(alg, X_train, y_train, cv=20,scoring='neg_mean_squared_error')
    cv_score = np.sqrt(np.abs(cv_score))
    
    #Print model report:
    print ("\nModel Report")
    print ("RMSE : %.4g" % np.sqrt(metrics.mean_squared_error(y_train.values, train_predictions)))
    print ("CV Score : Mean - %.4g | Std - %.4g | Min - %.4g | Max - %.4g" % (np.mean(cv_score),np.std(cv_score),np.min(cv_score),np.max(cv_score)))
    
    print(train_predictions[0:4])
    print(y_train[0:4])
    
    #Predict on testing data:
    test_prediction = alg.predict(X_test)
    
    cv_score1 = cross_val_score(alg, X_test, y_test, cv=20,scoring='neg_mean_squared_error')
    cv_score1 = np.sqrt(np.abs(cv_score1))
    
    print ("\nModel Report")
    print ("RMSE : %.4g" % np.sqrt(metrics.mean_squared_error(y_test.values, test_prediction)))
    
    print ("CV Score : Mean - %.4g | Std - %.4g | Min - %.4g | Max - %.4g" % (np.mean(cv_score1),np.std(cv_score1),np.min(cv_score1),np.max(cv_score1)))
    
    
    print(test_prediction[0:4])
    print(y_test[0:4])
    
    #Export submission file:
    #IDcol.append(target)
    #submission = pd.DataFrame({ x: dtest[x] for x in IDcol})
    #submission.to_csv(filename, index=False)

In [267]:
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error

In [268]:
X_train, X_test, y_train, y_test = train_test_split(big.drop(['Item_Identifier','Item_Outlet_Sales'],axis=1), 
                                                   big['Item_Outlet_Sales'], test_size=0.30, 
                                                   random_state=101)

In [269]:
alg1 = LinearRegression()

In [270]:
modelFit(alg1,X_train, X_test, y_train, y_test)

Model Report
RMSE : 1140
CV Score : Mean - 1142 | Std - 61.49 | Min - 1021 | Max - 1247
[2927.9339617  1498.33989786 1572.33503592 1659.79182996]
1876    4442.2176
3523     545.9560
1399    1808.9786
5275    1859.5794
Name: Item_Outlet_Sales, dtype: float64

Model Report
RMSE : 1098
CV Score : Mean - 1097 | Std - 88.85 | Min - 943 | Max - 1293
[3937.58542134 1790.64940241 3661.6208485   219.29296013]
2317    3615.2940
4077    1135.1890
2639    3038.7112
1855     262.3252
Name: Item_Outlet_Sales, dtype: float64

In [149]:
big['Item_Outlet_Sales'].describe()

count     8519.000000
mean      2181.188779
std       1706.511093
min         33.290000
25%        834.247400
50%       1794.331000
75%       3100.630600
max      13086.964800
Name: Item_Outlet_Sales, dtype: float64

In [232]:
sorted(sklearn.metrics.SCORERS.keys())

NameError: name 'sklearn' is not defined

In [272]:
actual = [0, 1, 2, 0, 3]
predicted = [10, 11.0, 21.0, 0.0, 31.0]

mse = mean_squared_error(actual, predicted)
mse

269.0

In [258]:
math.sqrt(mse)

NameError: name 'math' is not defined